@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 영상 상세페이지 - 영상 재생 / 영상 상세 글 부분 */
#root {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     /* font-family: 'Pretendard';  */
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     /* flex : 1; */
}

.backgroundTexture{
     width:100vw;
     height:100vw;
     background-image: url('../assets/img/texture.png');
     background-repeat: repeat;  /*이미지를 반복*/  
 }

.container{
     width: 100vh;
     margin: 0 auto;
     padding : 50px;
     /* background-color: rgb(219, 255, 215); */
}

.video {
     width: 70vh;
     height: 40vh;
     background-color: rgb(67, 67, 67);
     margin: 0 auto;
     border-radius: 3px;
}

.videoTitle {
     width: 70vh;
     font-size: 15px;
     font-weight: 800;
     margin: 10px auto;
}

.channelNameBookMark {
     width: 70vh;
     font-size: 12px;
     margin: 10px auto;
     display: flex;
}

.BookMark {
     margin : 0 50px;
     display: flex;
}

.bookmark { /* 북마크 그림 */
     margin : 0 0 0 10px;
}

.videoDetail {
     width: 70vh;
     height : 30vh;
     background-color: rgb(173, 172, 172);
     margin: 0 auto;
     /* padding : 5px 10px; */
     font-size: 12px;
     color:  rgb(66, 66, 66);
     border-radius: 5px;
}

.videoDetail > p {
     padding : 10px;
}

