@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 영상 상세페이지 - 관련 콘텐츠 추천 부분 */

.List {
     /* background-color: #b1b3a5; */
     width : 70%;
     margin: 50px auto;
     /* position: absolute; */
}

.Title {
     font-size: 20px;
     font-weight: 500;
     color : #808467;
}

.videoList {
     display: flex;
     margin : 40px 0 40px 20px;
}

.Info {
     margin : 0 0 0 10px ;
     text-align: left;
     cursor: pointer;
}

.videoBox {
     width : 210px;
     height : 120px;
     background-color: #4f4f4f;
     border-radius: 3px;
}

.videoTitle {
     margin : 0 0 10px 0;
     font-size : 14px;
     font-weight: 700;
}

.videoinfo {
     margin : 20px 0;
     font-size : 13px;
}

.videoDate {
     margin : 20px 0;
     font-size : 13px;
}