.reviewWriteContainer {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.rating {
    display: flex;
    flex-direction: row;
}

.reviewInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.writeInput {
    background-color: white;
    width:900px;
    height: 110px;
    border: 1px solid #F6EEB6;
    border-radius: 10px;
    padding: 10px;
    resize: none;
        font-family: 'Pretendard';
}

.writeButton {
    all: unset;
    width: 70px;
    height: 130px;
    background-color: #F6EEB6;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.infoBold {
    font-size: 18px;
    font-weight: 600;
    gap:5px;
}

/* 리뷰CSS */

.review {
    display: flex;
    flex-direction: row;
    font-family: 'Pretendard';
    width: 980px;
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.reviewInfo {
    display: flex;
    flex-direction: column;
    width:400px;
    align-items: center;
    justify-content: center;
    margin-right:20px;
}

.reviewInfoFont1{
    font-size: 18px;
    font-weight: 300;
}

.reviewInfoFont2{
    font-size: 15px;
    font-weight: 100;
}

.reviewBtBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.reviewBt {
    all: unset;
    background-color: #F6EEB6;
    border-radius: 10px;
    width:50px;
    height: 25px;
    font-size: 12px;
    font-weight: 200;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.report {
    all: unset;
    font-size: 15px;
    font-weight: 600;
    color: #8D8D8D;
    cursor: pointer;
}

.reviewContent {
    font-size: 18px;
    font-weight: 200;
}

.likes {
    width:13.5px;
    height: 12px;
    margin-right: 3px;
}
