@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");



.faqContainer {
    padding-top: 4%;
    width: 80%;
    height: 100vh;
    margin: auto;
    color: #333;
    background-image: url('../../assets/texture.png');
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Pretendard Variable', sans-serif;
}

.sortBox{
    height: 50px;
}

.smallHeaderElement{
    font-size: 25px;
}

.faqItem {
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.faqQuestion {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;

}
.questionTitle{
    cursor: pointer;
}

.faqAnswer {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}
