.container {
     width: 80vh;
     height : 100%;
     margin: 40px auto;
}

.SearchListTitle {
     font-size : 20px;
     color : #808467;
     font-weight: 600;
}

hr {
     width : 80vh;
     height: 1px;
}

.bookList {
     padding : 20px 40px;
     display:  flex;
}

.book {
     width : 200px;
     height : 200px;
     background-color: #4f4f4f;
     border-radius: 3px;
}

.bookInfo {
     margin: 0 0 0 40px;
     cursor: pointer;
}

.bookTitle {
     font-size : 15px;
     font-weight: 700;
}

.credits {
    margin: 20px 0 ;
    line-height: 20px;
}

.bookAuthor , .bookPublisher {
    font-size : 13px;
    font-weight: 500;

}

.bookDetail {
     margin : 20px 0;
     font-size : 12px;
     line-height: 15px;
}