@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}
.main{
    background-color: #E8E8E1;
    display: flex;
    justify-content: center;
}
.bigContainer{
    padding: 150px;
    width: 100%;
}
.line{
    width: 100%;
    border-bottom: 0 solid #383838;
    margin:5px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.smallHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.smallHeaderElement{
    font-size: 24px;
    font-weight: 600;
    color: #383838;
    margin: 0;
}
.writing, .delete, .slash{
    border:none;
    background-color: #E8E8E1;
    font-size: 20px;
    font-weight: 600;
    color: #AF4C3F;
    cursor: pointer;
}

.table{
    width: 100%;
}
.noticeTable{
    width: 100%;
    table-layout: fixed;
    font-family: 'Pretendard Variable', sans-serif;
    border-collapse: collapse;

}
.noticeTable th {
    font-weight: 400;
    font-size: 20px;
    color: #383838;
    height: 40px;
}

.noticeTable td {
    border-bottom: 1px solid #383838;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.noticeTable tr {
}

.noticeTable td:first-child,
.noticeTable th:first-child {
    width: 5%; /* 체크박스 열 좁게 */
}

.noticeTable td:nth-child(2),
.noticeTable th:nth-child(2) {
    width: 5%;
}

.noticeTable td:nth-child(3),
.noticeTable th:nth-child(3) {
    width: 5%;
}

.noticeTable td:nth-child(4),
.noticeTable th:nth-child(4) {
    width: auto;
}

.noticeTable td:nth-child(5),
.noticeTable th:nth-child(5) {
    width: 10%;
}

.noticeTable td:nth-child(6),
.noticeTable th:nth-child(6) {
    width: 20%;
}

.noticeTable td:nth-child(7),
.noticeTable th:nth-child(7) {
    width: 5%;
}


.mcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    /* height: vh; */
}
.pagingbox{
    text-align: center;
}
.textcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
}
.textbox {
    border: 1px solid gray;
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
}

.btn {
    height: 36px;
    background-color: #AF4C3F;
    border: 1px solid gray;
    font-size: 12px;
    color: white;
    cursor: pointer;
}
.titlecolor{
    color: #af4c3f;
    text-decoration: none;
}
.titleSize{
    width: 40%;
}
.tableBox {
    min-height: 450px; /* 또는 height: 300px; */
}

.pageButton:disabled {
    opacity: 0.4;
    cursor: pointer;
}
.pageButton{
    border: none;
    background-color: #E8E8E1;
    cursor: pointer;
}