@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}
.main{
    background-color: #E8E8E1;
    display: flex;
    justify-content: center;
}
.bigContainer{
    padding: 150px;
    width: 100%;
}
.line{
    width: 100%;
    border-bottom: 0 solid #383838;
    margin:5px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.smallHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.smallHeaderElement{
    font-size: 24px;
    font-weight: 600;
    color: #383838;
    margin: 0;
}

.textarea {
    width: 100%;
    height: 300px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    margin-bottom: 24px;
    background-color: white;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionButtons button {
    padding: 6px 16px;
    font-size: 14px;
    margin-left: 8px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

.submit {
    background-color: #808467;
    color: white;
}

.cancel {
    background-color: #f1f1f1;
    color: #333;
}
.actionButtons{
    margin-left: auto; /* 이걸 추가하면 오른쪽 정렬됨 */
    display: flex;
}
.line2{
    border: 0.3px solid #676767;
    width: 100%;
    margin-top: 5px;
}
.userName, .createdAt{
    font-size: 12px;
    color: #676767;
}
.whoWhen{
    display: flex;
    gap: 10px;
}
.question{
    width: 100%;
    height: 30vh;
}
.answerTitle{
    color: #AF4C3F;
    font-size: 14px;
}
.answerBox{
    height: 5vh;
}
.answerContent{
    width: 100%;
    height: 30vh;
    display: flex;             
    /* justify-content: center;  */
    /* align-items: center; */
}
.content{
    color: #676767;
}
.deleteBtn{
    color: #676767;
    font-size: 12px;
    cursor: pointer;
}

.writeBtn {
  cursor: pointer;
  color: #676767;
  margin-left: 10px;
  font-size: 12px;
}

.answerInputArea {
  margin-top: 10px;
}

.answerInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

.submitBtn {
  margin-top: 5px;
  padding: 8px 16px;
  background-color: #AF4C3F;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}