@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.feedDiv{
    height: auto;
}

.feedRecDiv {
    width: 100%;
    height: 50px;
    margin-top: 40px;
}

.feedRecBt {
    border-style: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}

.feedFollowBt {
    border-style: none;
    background-color: transparent;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.activeTab {
    border-bottom: 1px solid #000000;
}



.feedListBtDiv {
    width: 1000px;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #808467;
}

.feedAllBt {
    width: 80px;
    height: 30px;
    border-style: none;
    background-color: #B4B4B4;
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

.feedPostBt {
    width: 80px;
    height: 30px;
    border-style: none;
    background-color: #B4B4B4;
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}

.feedReviewBt {
    width: 80px;
    height: 30px;
    border-style: none;
    background-color: #B4B4B4;
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}

.activeTaAf {
    background-color: #F6EEB6;
    color: #c20505;
    font-size: 18px;
}


.feedWritingBt {
    height: 30px;
    border-style: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
}

.feedContentDiv {
    width: 950px;
    height: 330px;
    border-radius: 10px;
    border: 1px solid #808467;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.feedPostProfileDiv {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #808467;
}

.feedPostProfileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

.feedPostProfile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    list-style-type: none;
    font-size: 15px;
}

.feedPostConDiv {
    width: 100%;
    height: 200px;
    display: flex;
    padding-left: 20px;
}

.feedPostCon {
    width: 70%;
}

.feedPostConImgDiv {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.feedPostConImg {
    height: 150px;
}

.feedPostHeartDiv {
    width: 100%;
    height: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.feedPostHeartSpan {
    display: flex;
    align-items: center;
}

.feedPostHeart {
    height: 20px;
    margin-right: 5px;
}

.feedPostReview {
    height: 20px;
    margin-left: 20px;
    border-style: none;
    background-color: transparent;
    margin-right: 5px;
}

.feedReConDiv {
    width: 100%;
    border-bottom: 1px solid #808467;
}

.feedReCon {
    margin: 30px;
}

.feedReBookDiv {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.feedReBook {
    height: 130px;
    margin: 20px;
    border-radius: 10px;
}

.feedReBookTitle {
    list-style: none;
    font-size: 17px;
}