.adminMainP {
    display: inline;
    margin: 10px;
}

.main {
    width: 600px;
    min-height: 255px;
    max-height: 255px;
    align-items: center;
}
.main2 {
    width: 1350px;
    min-height: 255px;
    max-height: 255px;
    align-items: center;
}
.csLine {
     width: 600px;
     color: #383838;
     margin-top: 5px;
     margin-bottom: 5px;
 }
.csLine2 {
    width: 1350px;
    color: #383838;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fontContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;
    font-family: 'Pretendard Variable', sans-serif;
}

.font1 {
    font-size: 24px;
    font-weight: 600;
    display: inline;
    margin: 10px;

}

.font2 {
    font-size: 18px;
    font-weight: 800;
    display: inline;
    margin: 10px;
}

.font3 {
    font-size: 18px;
    font-weight: 200;
    margin: 6px;
    display: inline;
}

.linkFont {
    all: unset;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.csTableDiv {
    display: flex;
    margin: auto;
}

.csTable {
    font-size: 18px;
    font-weight: 200;
    border: none;
    border-collapse: collapse;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.csTableTr {
    height: 40px;
}

.csTableTd {
    padding: 8px;
    width: 225px;
}

.csTableTd2 {
    padding: 8px;
    width: 300px;
}

.csTableTd3 {
    padding: 8px;
    width: 22px;
}

.csTableTd4 {
    padding: 8px;
    width: 595px;
}

.csTableTd3:hover::after {
    padding: 8px;
    width: 22px;
}

.csTableTr:hover {
    color: white;
    background-color: rgb(175, 76, 63, 0.6);
    text-decoration: underline;
    cursor: pointer;
}

/* 비디오부분 */

.videoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoList {
    display: flex;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.videoInnerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
}

.video {
    border-radius: 10px;
    margin: 5px;
}


.videoDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.videoTitleDiv {
    height:50px;
}

.videoChannelFont {
    font-size: 14px;
}

.videoThumbnail {
    border-radius: 10px;
    margin: 5px;
    width: 300px !important;
    height: 200px;
    object-fit: cover;
}

.videoTitleFont {
    font-size: 16px;
    font-weight: 600;
}

.scrollButton {
    all: unset;
    margin: 5px;
    cursor: pointer;
}

.buttonImg {
    width: 20px;
    height: auto;
}

.scrollButton :hover {
    filter: brightness(2.0);
}

/* 책 부분 */

.bookContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
}

.bookList {
    height: auto;
    display: flex;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.bookInnerContainer {
    width: 175px;
    height: 220px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bookInnerContainer:hover {
    color: white;
    background-color: rgb(175, 76, 63, 0.6);
    cursor: pointer;
}

.book {
    margin: 5px;
    width: 175px;
    height: 135px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
}

.bookCover {
    width: 85px;
    height: 135px;
}

.bookFont {
    display: block;
    font-size: 15px;
    font-weight: 200;
    margin: 6px;

}

/* 관심분야 키워드 */

.interestsMain {
    /*width:1800px;*/
    min-height: 200px;
    max-height: 200px;
    align-items: center;
}

.interestsCsLine {
    width: 1350px;
    color: #383838;
    margin-top: 5px;
    margin-bottom: 5px;
}
