
.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main > :first-child {
  flex: 1 1 auto;
}

.main > :last-child {
  position:relative;
  left:-286px;
}
