.loginPage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 로그인 박스 스타일 */
.formContainer {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
    height: 560px;
    max-width: 440px;
    text-align: center;
}

.companyName {
    font-weight: 700;
    margin-bottom: 30px;
    color: #808467;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 50px;
    color: #555;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputGroup label {
    width: 90px;
    /* 라벨 고정 너비 */
    font-weight: bold;
    margin-right: 10px;
}

.inputGroup input {
    flex: 1;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 5px;
    font-size: 1rem;
    outline: none;
    background: transparent;
}

.submitBtn {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #808467;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
}

.submitBtn:hover {
    background-color: #AF4C3F;
}

.findLinks {
    margin-top: 10px;
    text-align: right;
    font-size: 0.9rem;
}

.findLinks a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.findLinks a:hover {
    text-decoration: underline;
}