.backgroundTexture{
    width:100vw;
    height:100vw;
    background-image: url('../../assets/texture.png');
    background-repeat: repeat;  /* 이미지를 반복 */  
}
.bigContainer{
    padding-top: 4%;
    margin:auto;
    width: 80%;
    height: 80vh;
}
.smallHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.smallHeaderElement{
    font-size: 25px;
}
.writing{
    border: none;
    background-color: white;
    color: #676767;
    cursor: pointer;
    font-size: 12px;
}
.slash{
    color: #676767;
    font-size: 12px;
}
.line{
    margin-top: 2px;
    margin-bottom: 1.5%;
    border: 1px solid #676767;
    width: 100%;
}
.board {
    padding: 0;
    margin: 0;
}
.boardLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676767;
    font-size: 20px;
  }
.boardLi2{
    display: flex;
    justify-content: space-between;
    min-width: 200px; 
}
.postLi2{
    display: flex;
    gap: 13px;
}
.postLi{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #676767;
    margin-top: 20px

}
.postContext{
    display: flex;
    justify-content: left;
    flex: 2;
}
.postLi span{
    text-align: left;
    flex: 1;
}
.postLi2 span{
    width: 61px;
    text-align: center;
}
.mcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 60%;
}
.pagingbox{
    text-align: center;
}
.textcontainer{
    text-align: right;    
}
.textbox{
    border:2px solid gray;
    height: 21px;
}
.btn{
    height: 27px;
    background-color: #808467;
    border:2px solid gray;
    vertical-align: middle;
}
