@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.main{
    width:100%;
    /* height:auto; */
    overflow: hidden;
}

.mainImgBox {
    width: 100vw;
    height: 500px;
    overflow: hidden;
    background-image: url('../../assets/bgimg.png');
    background-size: cover;
    background-position: center 30%; /* 좌우 중앙, 상단에서 40% 위치 */
}

.backgroundTexture{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:100vw;
    height: auto;
    background-image: url('../../assets/texture.png');
    background-repeat: repeat;
}

.readio {
    color:#AF4C3F;
    font-size:140px;
    font-weight: 900;
    position: absolute;
    left:100px;
    top:460px;

}

.mainTextBox{

    margin-top:80px;
    width:560px;
    height:90px;

}

.mainText{
    justify-content: center;
    font-size:24px;
    font-weight: 500;
    text-align: center;
}

.mainSearch{
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    justify-content: center;
    justify-items:center;
    margin:auto;
    position: relative;
    top:30%;
}

.mainSearchInput{
    width: 490px;
    height: 35px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    padding: 3px;
}

.mainKeywordButton{
    width: 140px;
    height: 41px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    padding: 3px;
    margin-right: 32px;
    cursor: pointer;

}

.videoSection {
    margin-bottom: 100px;
}

.buttonBox {
    margin: 5px;
    gap:5px;
    display: flex;
}

.buttonNone {
    all: unset;
    cursor: pointer;
}