.VerifyPwdPage {
    margin: 40px 20px 180px 0px;
}

.contentBox {
    margin: 60px 0px 30px 0px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.description { 
    margin: 20px 0px 20px 0px;
    color: #555555;
}

.hr {
    border: none;
    border-top: 2px solid #B4B4B4;
    width: 45vw;
    position: relative;
    /* left: 0%; */
    /* transform: translateX(-50%); */
    margin: 20px 0;
}

.formGroup {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 20px;
}

.formGroup label {
    width: 100px;
    /* 레이블 크기 고정 */
    margin-right: 30px;
    /* 레이블과 입력란 간 간격 */
    /* text-align: right;        레이블 오른쪽 정렬 */
}

.formGroup input {
    /* flex: 1; */
    /* 입력란이 나머지 공간 차지 */
    padding: 10px;
    width: 40%;
}


.submitBtnWrap {
    text-align: center;
    margin-top: 10px;
}

.submitBtn {
    padding: 5px 20px;
    background-color: #808467;
    color: white;
    border: none;
    /* border-radius: 5px; */
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 100px;
}

.submitBtn:hover {
    background-color: #AF4C3F;
}