
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.headerDiv {
    width: 100%;
    height: 60px;
    background-color: #808467;
    justify-content: space-between; /* 좌-우 정렬 */
    align-items: center;
    display: flex;
    position: relative;
    margin: 0;
}

.headerNav {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.headerLogo {
    border-style: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    cursor: pointer;
}
.headerSearchDiv {
    margin-left: 16%;
    width: 100%;
    display: flex;
}

.headerSearch {
    padding: 3px;
    margin-right: 0%;
    background-color: transparent;
    border-width: 0 0 2px;
    border-color: #F6EEB6;
    outline: none;
    color: #F6EEB6;
}

.headerSearch::placeholder {
    color: #F6EEB6;
}

.headerSearchOption {
    outline: none;
    background-color: transparent;
    border-style: none;
    color: #F6EEB6;
}

.headerAlarm {
    border-style: none;
    background-color: transparent;
    margin: 0%;
    display: flex;
    cursor: pointer;
}

.headerLogin {
    width: 100%;
    display: flex;
}

/* .headerLoginBt {
    border-style: none;
    background-color: #d9d9d93e;
    color: #F6EEB6;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
} */

.headerLoginBt {
    display: inline-flex;         /* 버튼처럼 정렬 */
    justify-content: center;     /* 텍스트 중앙 정렬 */
    align-items: center;         /* 텍스트 수직 중앙 정렬 */
    border: none;                /* 기본 border 제거 */
    background-color: #d9d9d93e;
    color: #F6EEB6;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    text-decoration: none;       /* 밑줄 제거 */
    cursor: pointer;             /* 손가락 커서 */
    font-family: inherit;        /* 폰트 통일 */
    font-size: 14px;             /* 필요시 조정 */
}

.headerlibraryBt {
    border-style: none;
    background-color: #af4c3fa3;
    color: #F6EEB6;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonNone {
    all: unset;
    cursor: pointer;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    position:absolute;
    left:71%;
}