html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.headerDiv {
    width: 100%;
    height: 60px;
    background-color: #808467;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    margin: 0;
}

.headerNav {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.headerLogo {
    border: none;
    background-color: transparent;
    margin: auto;
    cursor: pointer;
    position:relative;
    left:9%;
}

.headerSearchDiv {
    display: flex;
}

.headerSearch {
    padding: 3px;
    background-color: transparent;
    border-width: 0 0 2px;
    border-color: #F6EEB6;
    outline: none;
    color: #F6EEB6;
    width: 100%; /* 부모 컨테이너를 채우도록 설정 */
}

.headerSearch::placeholder {
    color: #F6EEB6;
}

.headerSearchOption {
    outline: none;
    background-color: transparent;
    border-style: none;
    color: #F6EEB6;
}

.headerAlarm {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.headerLogin {
    width: auto; /* 고정 너비 대신 내용에 맞게 조정 */
    display: flex;
}

.headerLoginBt {
    border-style: none;
    background-color: #d9d9d93e;
    color: #F6EEB6;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;

    /* 헤더 버튼->NavLink 변경으로 인해 스타일 추가 */
    display: inline-flex;        /* 버튼처럼 정렬 */
    align-items: center;         /* 텍스트 수직 중앙 정렬 */
    justify-content: center;     /* 텍스트 중앙 정렬 */
    text-decoration: none;       /* 밑줄 제거 */
    cursor: pointer;             /* 손가락 커서 */
}

.headerlibraryBt {
    border-style: none;
    background-color: #af4c3fa3;
    color: #F6EEB6;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonNone {
    all: unset;
    cursor: pointer;
}

.rightButtons {
    display: flex;
    flex-direction: row;
    position: relative; /* absolute 대신 relative로 변경 */
    margin-right: 2%; /* 오른쪽 여백 추가 */
}

/* 5.10 헤더 로고 정중앙 설정 (보경)*/
.headerLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: transparent;
    margin: auto;
    cursor: pointer;
}
