html, body, #root{
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Pretendard';
     display: flex;
     flex-direction: column;
}

.footer {
     width: 100%;
     background-color: white;
     border-top: 3px solid black;
     text-align: center;
     align-items: center;
     margin: 0 auto;
     bottom : 0;
     position: static;
}

.Logo {
     align-items: center;
     width: 135px;
     height: 60px;
     padding: 25px 0 15px 0;
}

.Box {
     display: flex;
     margin: 0 auto;
     padding: 0 0 15px 0;
     justify-content: center; 
     color: #424242;
     font-size: 15px;
}

.Box > .textBox {
     display: flex;
     margin: 0 20px ;
}