

.videoContainer {
    max-width: 1200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.line {
    width:1200px;
    height:1px;
    background-color: #808467;
}

.videoList {
    max-width:1200px;
    height:300px;
    display:flex;
    gap: 30px;
    overflow: auto;
    scrollbar-width: none;
    margin: auto;
}

.video {
    border-radius: 10px;
    margin-top: 5px;
}

.videoFont {
    color:#808467;
    font-weight:600;
    font-size:30px;

    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    unicode-bidi: isolate;
}

.scrollButton {
    all: unset; /* 모든 기본 스타일 제거 */
}