/* 알람 전체 컨테이너 */
.alarm {
    position: absolute;
    top: 60px;
    right: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 999;
}

.alarm.open {
    transform: translateX(0);
    opacity: 1;
}

/* 알람 내용 스타일 */
.alarmContainer {
    width: 280px;
    max-height: 530px;

    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

/* 각 알람 항목 */
.alarmItem {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.alarmItem:hover {
    background-color: #e2e2e2;
}

/* 알람 아이콘 */
.alarmIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* 알람 텍스트 */
.alarmLinkText {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    display: inline-block;
    flex: 1;
}

/* 알람 항목 오른쪽에 있는 닫기 버튼 */
.closeButton {
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;  /* 버튼 크기 */
    border-radius: 0;  /* 동그라미 모양을 없애고 직사각형으로 변경 */
    transition: background-color 0.2s, color 0.2s;
    height: auto; /* height를 자동으로 조정하여 원형 문제 방지 */
    width: auto;  /* width도 자동으로 설정하여 문제 방지 */
}

.closeButton:hover {
    background-color: #f0f0f0;  /* 마우스를 올렸을 때 배경 색상 */
    color: #333;  /* 마우스를 올렸을 때 아이콘 색상 */
}

/* 알람 항목과 X 버튼의 배치 */
.alarmItem .closeButton {
    margin-left: auto; /* 버튼을 오른쪽으로 정렬 */
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.closeButton:hover {
    background-color: #f0f0f0; /* 호버 시 버튼에 배경 색상 추가 */
    color: #333;
}
