.container {
     width: 80vh;
     height : 100%;
     margin: 40px auto;
}

.SearchListTitle {
     font-size : 20px;
     color : #808467;
     font-weight: 600;
}

.SearchbookListhr {
     width : 90vh;
     height: 1px;
}

.bookListHr {
     width : 80vh;
     height: 1px;
}

.bookList {
     padding : 10px 30px;
}

.bookItem {
     display: flex;
     margin: 30px;
}

.book img{
     width : 130px;
     height : 200px;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 1px #b0b0b0;
}

.bookInfo {
     margin: 0 0 0 40px;
     cursor: pointer;
}

.bookTitle {
     font-size : 15px;
     font-weight: 700;
}

.credits {
    margin: 20px 0 ;
    line-height: 20px;
}

.bookAuthor , .bookPublisher {
    font-size : 13px;
    font-weight: 500;

}

.bookDetail {
     margin : 20px 0;
     font-size : 12px;
     line-height: 15px;
}