.bookPage {
    
    width:100vw;
    height: auto;
    font-family: 'Pretendard';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/texture.png');
    background-repeat: repeat;

}